<h3>Your order details</h3>
<div class="order">
	<table class='zebra-striped'>
	    <thead>
	        <tr>
	            <th class='table-header'>Quantity</th>
	            <th class='table-header'>Image</th>
	            <th class='table-header'>Item</th>
	            <th class='table-header'>Price</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	           
	            <td class="table-row">1</td>
	            <td class='mini-thumbnail'><img src=<%=@product.image_file%>/></td>
	            <td class="table-row"><%=@product.name%></td>
	            <td class="table-row">$<%=@product.price%></td>
	        </tr>
	    </tbody>
	</table>
</div>
</br>
<%= simple_form_for @order, 
  :url => url_for(:action => 'create', :controller => 'orders'),
  :method => 'post' do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, :required => true %>
  <%= f.input :product_id, :as => :hidden, :input_html => { :value => @product.id } %></br>
  <%= f.button :submit, 'Purchase now', :class => 'btn-primary', :id => "lz-button" %> 
<% end %> 
<div id="thank-you">
	<h3>Thank you for your order!</h3>
	<p>A mission file has been generated and is being sent to one of our delivery
		drones right now!
	</p>
	<h3>This your calculated drone landing zone:</h3>
    <div class="map-canvas">
      <div id="map"></div>
    </div>
</div>


